<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to your TryBaker Dashboard</p>

      <div class="card">
        <p><%= firstName %> <%= lastName %></p>
        <p><%= email %></p>
        <p><%= phone %></p>

        <h2>You have <%= total %> points and have checked in <%= visits %> times.</h2>
        <ul>
            <% entries.forEach(function(e){ %>
              <li><%= e.entry %></li>
            <% }); %>
        </ul>
      </div>
    </main>
  </body>
</html>
